@using CourseManagement.Constants
@using CourseManagement.ViewModels.Users
@{
	ViewData["Title"] = "Đăng ký thành viên";
	Layout = "~/Views/Shared/_SmallLayout.cshtml";
}
@model UserViewModel

<div class="register-box">
	<div class="card card-outline card-primary">
		<div class="card-header text-center">
			<a class="h4"><b>Đăng ký thành viên mới</b></a>
		</div>
		<div class="card-body">
			@using (Html.BeginForm("Register", WebConstants.CONTROLLER_INDEX, FormMethod.Post, new { id = "frmUserRegist", enctype = "multipart/form-data" }))
			{
				<span asp-validation-for="MessageRegister" class="error-message"></span>
				<div class="input-group mb-2">
					<input type="text" asp-for="FullName" class="form-control" autocomplete="off" placeholder="Họ và tên">
				</div>
				<span asp-validation-for="FullName" class="error-message"></span>
				<div class="input-group mb-2">
					<input asp-for="Email" type="email" autocomplete="off"placeholder="Email" class="form-control" />
				</div>
				<div class="input-group mb-2">
					<input asp-for="UserName" type="text" autocomplete="off" placeholder="Tên đăng nhập" class="form-control" />
				</div>
				<span asp-validation-for="UserName" class="error-message"></span>
				<div class="input-group mb-2">
					<input asp-for="Password" type="password" autocomplete="off" class="form-control" placeholder="Mật khẩu">
				</div>
				<span asp-validation-for="Password" class="error-message"></span>
				<div class="input-group mb-2">
					<input asp-for="ConfirmPassword" type="password" autocomplete="off" class="form-control" placeholder="Nhập lại mật khẩu">
				</div>
				<span asp-validation-for="ConfirmPassword" class="error-message"></span>
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="form-group text-right mb-2">
							<div class="custom-control custom-switch" onclick="showPassword()">
								<input type="checkbox" class="custom-control-input" id="cbShowPassword">
								<label class="custom-control-label" for="cbShowPassword">Hiện mật khẩu</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 text-rigth">
						<button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
